.navbar-inverse {
  background-color: #101010;
}

.navbar {
  border-radius: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #000;
  border-top-style: inset;
}
