div.imagenConstruccion{
    background-image: url("../images/enConstruccion.jpg");
    /* valores para definir el tamaño de tu círculo */
    height: 600px;
    width: 900px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    /* centrado de la imagen */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar{
  margin-bottom: 0;
}

/* seccion de productos */

section.productos{
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}


section.productos .articulo img{
  max-width: 150px;
  margin-top: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

section.productos .articulo a{
  font-size: 20px;
}

section.productos .articulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 4px;

}

/* articulos */
main.articulo{
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

main.articulo .imagenesMuestra {
  display: flex;
  flex-direction: column;
  align-items: center;

}

main.articulo .descripcionProducto{
  padding-left: 20px;
}

main.articulo .descripcionCompleta{
  padding: 20px;
  border-top: 1px solid #e3e3e3;
  margin-top: 20px;
}



main.articulo .imagenesMuestra img{
  max-width: 100px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

main.articulo img.imagenPrincipal{
  max-width: 300px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}


/* carrito */

main.carrito{
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

main.carrito .productosSeleccionados{
  padding: 20px;
  border: 1px solid #e3e3e3;
  margin-top: 20px;
  border-radius: 4px;
  display: inline-flex;
  display: flex;
  flex-direction: row;
  align-items: center;

}

main.carrito .productosSeleccionados input{
  max-width: 40px;
  max-height: 20px;
  float:right;
  align-self: auto;

}

main.carrito .productosSeleccionados div{
  padding-left: 20px;
  padding-right: 20px;
}

main.carrito .productosSeleccionados img{
  max-width: 80px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

main.carrito .productosDelpedido{
  padding: 20px;
  border: 1px solid #e3e3e3;
  margin-top: 20px;
  border-radius: 4px;
}

h1,h2,h3{
  background-color: #536082;
  padding: 10px;
  color: white;
  border-radius: 4px;
}
